@tailwind base;
@tailwind components;
@tailwind utilities;

/* *Style for card product */
.product-card .content {
    transition: transform 0.3 ease-out;
}

.product-card:hover .content {
    transform: translateY(-1rem);
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Skeleton */

/* Primary color */
.ant-table-thead .ant-table-cell {
    background-color: #ff7506 !important;
    color: white !important;
}

/* Custom scroll bar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #eaeced #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #eaeced;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
